@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.ttf") format("TrueType"),
    url("/fonts/Roboto-Regular.otf") format("OpenType");
}
@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.ttf") format("TrueType"),
    url("/fonts/Roboto-Bold.otf") format("OpenType");
}
