@use "./colors" as *;
@use "./layout" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-height: 100vh;
  background: $Light-Grayish-Blue;
}

.container {
  min-height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 20rem;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 1rem;
    .article-image {
      img {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
      }
    }
    .article-description {
      padding: 1.5rem 2rem;
      margin-top: 0.6rem;
      h1 {
        font: 700 1rem $font-Manrope;
        line-height: 1.5rem;
        color: $Very-Dark-Grayish-Blue;
      }
      p {
        font: 500 $body-text $font-Manrope;
        line-height: 1.3rem;
        color: $Desaturated-Dark-Blue;
        padding: 1rem 0;
      }
      .profile {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.2rem;
        .profile-picture {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
        .profile-details {
          margin-left: -1.6rem;
          line-height: 1.5rem;
          h2 {
            font: 700 0.9rem $font-Manrope;
            color: $Very-Dark-Grayish-Blue;
          }
          small {
            font: 500 $body-text $font-Manrope;
            color: $Desaturated-Dark-Blue;
          }
        }
        #share-button {
          margin-top: 0.2rem;
          width: 2.3rem;
          height: 2.3rem;
          background: url(./images/icon-share.svg) $Light-Grayish-Blue no-repeat
            center/50%;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
          color: transparent;
          z-index: 1000;
        }
        .share-components {
          display: flex;
          align-items: center;
          position: absolute;
          inset: 0;
          background: $Very-Dark-Grayish-Blue;
          margin: -1rem -2rem -1.5rem -2rem;
          border-radius: 0 0 1rem 1rem;
          list-style: none;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          color: $Grayish-Blue;
          gap: 1rem;
          padding-left: 1.8rem;
          span {
            font: 700 $body-text $font-Manrope;
            cursor: default;
            color: $Light-Grayish-Blue;
          }
          a {
            img {
              cursor: pointer;
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}

.attribution {
  height: 1rem;
  font: 500 0.6875rem $font-Manrope;
  text-align: center;
  a {
    color: $footer-link;
  }
}

@media (min-width: $ipad-pro13inch-view) {
  .container {
    .card {
      flex-direction: row;
      width: 45rem;
      .article-image {
        img {
          width: 18rem;
          height: 19rem;
          border-radius: 1rem 0 0 1rem;
          margin-bottom: -0.25rem;
        }
      }
      .article-description {
        margin-top: 0;
        h1 {
          font: 700 1.3rem $font-Manrope;
        }
        .profile {
          margin-top: 0;
          .profile-details {
            justify-content: space-between;
            margin-left: -8rem;
          }
          .share-components {
            width: 70%;
            height: 100%;
            border-radius: 0.5rem;
            padding: 1.8rem 0;
            justify-content: center;
            inset: -3.9rem 15.95rem;
            letter-spacing: 0.2rem;
            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 0;
              height: 0;
              border-left: 1rem solid transparent;
              border-right: 1rem solid transparent;
              border-bottom: 1rem solid $Very-Dark-Grayish-Blue;
              rotate: 180deg;
              inset: 3.4rem 6.7rem;
            }
          }
        }
      }
    }
  }
}
