@font-face {
  font-family: "Figtree-SemiBold";
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/Figtree-SemiBold.woff2") format("woff2"),
    url("/fonts/Figtree-SemiBold.ttf") format("TrueType"),
    url("/fonts/Figtree-SemiBold.otf") format("OpenType");
}

@font-face {
  font-family: "Figtree-ExtraBold";
  font-display: swap;
  font-weight: 800;
  src: url("/fonts/Figtree-ExtraBold.woff2") format("woff2"),
    url("/fonts/Figtree-ExtraBold.ttf") format("TrueType"),
    url("/fonts/Figtree-ExtraBold.otf") format("OpenType");
}
