@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

.container {
  min-height: 100vh;
  background: hsl(204deg, 43%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card {
  width: 20rem;
  background: white;
  border-radius: 0.5rem;
}
.container .card .content1 {
  padding: 2rem 1.5rem;
}
.container .card .content1 .content1_heading {
  font: 700 1.33rem "Karla", sans-serif;
  color: hsl(179deg, 62%, 43%);
  padding-bottom: 1rem;
}
.container .card .content1 .content1_subhading {
  font: 700 16px "Karla", sans-serif;
  color: hsl(71deg, 73%, 54%);
  padding-bottom: 1rem;
}
.container .card .content1 .content1_paragraph {
  font: 400 0.85rem "Karla", sans-serif;
  line-height: 1.5rem;
  color: hsl(218deg, 22%, 67%);
}
.container .card .content2 {
  padding: 2rem 1.5rem;
  background: hsl(179deg, 62%, 43%);
  color: white;
}
.container .card .content2 .content2_heading {
  font: 700 1.15rem "Karla", sans-serif;
  padding-bottom: 1rem;
}
.container .card .content2 .content2_offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}
.container .card .content2 .content2_offer .span1 {
  font: 700 2rem "Karla", sans-serif;
}
.container .card .content2 .content2_offer .span2 {
  font: 400 0.95rem "Karla", sans-serif;
  color: hsl(204deg, 43%, 93%);
  padding-left: 0.65rem;
}
.container .card .content2 .content2_suboffer {
  font: 400 0.95rem "Karla", sans-serif;
  padding-bottom: 1.5rem;
}
.container .card .content2 .content2_button {
  width: 100%;
  padding: 0.9rem 0;
  font: 700 1.1rem "Karla", sans-serif;
  background: hsl(71deg, 73%, 54%);
  color: white;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0.8rem 1rem rgba(128, 128, 128, 0.326);
  cursor: pointer;
}
.container .card .content3 {
  background-color: hsl(179deg, 60%, 50%);
  color: white;
  padding: 2rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.container .card .content3 .content3_heading {
  font: 700 1.2rem "Karla", sans-serif;
  padding-bottom: 1rem;
}
.container .card .content3 .content3_list {
  list-style: none;
  font: 400 0.9rem "Karla", sans-serif;
}
.container .card .content3 .content3_list li {
  padding: 0.15rem 0;
  cursor: default;
}

@media (min-width: 1024px) {
  .container .card {
    width: 39rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .card .content1 {
    grid-column: span 2;
    height: 13rem;
    padding: 2rem;
  }
  .container .card .content1 .content1_heading {
    font-size: 1.48rem;
  }
  .container .card .content1 .content1_subhading {
    font-size: 1.118rem;
  }
  .container .card .content1 .content1_paragraph {
    font-size: 16px;
  }
  .container .card .content2 {
    border-radius: 0 0 0 0.5rem;
  }
  .container .card .content3 {
    border-radius: 0 0 0.5rem 0;
  }
}