@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

//### Primary

$Dark-cyan: hsl(185, 75%, 39%);
$Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);

//### Neutral

$Dark-gray: hsl(0, 0%, 59%);

//###Fonts

$Body-font-size: 18px;
$font-kumbh-sans: "Kumbh Sans", sans-serif;

//### Layout

$Mobile: 375px;
$Laptop: 1280px;

.attribution {
  font-size: 11px;
  font-family: $font-kumbh-sans;
  font-weight: 400;
  text-align: center;
}

.attribution a {
  font-family: $font-kumbh-sans;
  font-weight: 700;
  color: hsl(228, 45%, 44%);
}
