@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  background: hsl(217, 54%, 11%);
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: calc(100vh - 1rem);
}
body .container .card {
  display: flex;
  flex-direction: column;
  width: 21rem;
  background: hsl(216, 50%, 16%);
  padding: 1.3rem;
  border-radius: 1rem;
}
body .container .card .image-wrapper {
  position: relative;
  cursor: pointer;
}
body .container .card .image-wrapper .item {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
body .container .card .image-wrapper .overlay {
  position: absolute;
  background: hsl(178, 100%, 50%);
  opacity: 0;
  inset: 0;
  border-radius: 0.5rem;
  transition: opacity 0.3s linear;
}
body .container .card .image-wrapper .item-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s linear;
}
body .container .card .image-wrapper:hover .overlay {
  opacity: 0.5;
}
body .container .card .image-wrapper:hover .item-open {
  opacity: 1;
}
body .container .card .description {
  padding: 0.5rem 0;
}
body .container .card .description h1 span {
  color: hsl(0, 0%, 100%);
  font-size: 1.38rem;
  font-weight: 600;
  padding: 1rem 0;
  cursor: pointer;
  transition: all linear 0.2s;
}
body .container .card .description h1 span:hover {
  color: hsl(178, 100%, 50%);
}
body .container .card .description p {
  font-size: 1.125rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  padding: 0.2rem 0;
  line-height: 1.6rem;
}
body .container .card .status {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1rem;
}
body .container .card .status .price {
  display: inline-flex;
  align-items: center;
}
body .container .card .status .price p {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
  padding-left: 0.5rem;
}
body .container .card .status .timer {
  display: inline-flex;
  align-items: center;
}
body .container .card .status .timer p {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  padding-left: 0.5rem;
}
body .container .card hr {
  color: hsl(215, 32%, 27%);
}
body .container .card .profile {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
body .container .card .profile .avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100%;
}
body .container .card .profile p {
  font-size: 1rem;
  padding: 0 1.2rem;
  color: hsl(215, 51%, 70%);
}
body .container .card .profile .creator {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: all linear 0.3s;
}
body .container .card .profile .creator:hover {
  color: hsl(178, 100%, 50%);
}
body .attribution {
  font-size: 11px;
  text-align: center;
  height: 1rem;
  color: hsl(0, 0%, 100%);
}
body .attribution a {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

@media (min-width: 1440px) {
  body .container .card {
    width: 23rem;
    padding: 1.45rem;
  }
  body .container .card .description h1 {
    font-size: 1.48rem;
  }
  body .container .card .description p {
    font-size: 1.125rem;
  }
  body .container .card .profile p {
    font-size: 1.125rem;
  }
}