@font-face {
  font-family: "Raleway-400";
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-700";
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
  background: url("../assets/images/bg-mobile.png") no-repeat center/cover;
  overflow: hidden;
}
@media (min-width: 1280px) {
  body {
    background: hsl(229, 57%, 11%) url("../assets/images/bg-desktop.png") no-repeat bottom/contain;
  }
}
body main {
  height: calc(100dvh - 1.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .container {
  max-width: 50rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  body main .container {
    flex-direction: row;
    gap: 1.5em;
  }
}
body main .container .about {
  background: hsl(228, 56%, 26%);
  max-width: 23rem;
  padding: 2em;
  border-radius: 1em 5em 1em 1em;
}
body main .container .about .button {
  display: flex;
  justify-content: space-between;
  padding-right: 3.5em;
}
body main .container .about .button div {
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.5em;
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0.5em;
  cursor: pointer;
}
body main .container .details {
  position: relative;
  background: hsl(228, 56%, 26%);
  width: 100%;
  padding: 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
@media (min-width: 1280px) {
  body main .container .details {
    cursor: pointer;
  }
  body main .container .details:hover .popup {
    display: flex !important;
    top: -50%;
    right: 0;
    transform: translate(20%, 75%);
  }
  body main .container .details:hover .popup::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(50%);
    height: 3em;
    width: 1.5em;
    background: hsl(243, 100%, 93%);
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}
@media (min-width: 768px) {
  body main .container .details {
    margin-top: 2.5em;
  }
}
body main .container .details .message {
  color: hsl(243, 100%, 93%);
  font-family: "Raleway-400";
  font-size: 0.875rem;
}
body main .container .details .message strong {
  color: hsl(243, 100%, 93%);
  font-family: "Raleway-700";
  font-size: 1rem;
}
body main .container .details .usage-bar {
  width: 100%;
  background: hsl(229, 57%, 11%);
  height: 1.4em;
  content: "";
  border-radius: 1em;
  padding: 0.16em;
}
body main .container .details .usage-bar .grad-bar {
  content: "";
  width: 81.5%;
  height: 100%;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 1em;
  padding: 0.12em 0.18em;
}
body main .container .details .usage-bar .grad-bar .dot {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  background: hsl(243, 100%, 93%);
  float: right;
  border-radius: 100%;
}
body main .container .details .capacity {
  display: flex;
  justify-content: space-between;
  color: hsl(243, 100%, 93%);
  font-family: "Raleway-700";
}
body main .container .details .popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background: hsl(243, 100%, 93%);
  padding: 1em;
  border-radius: 0.6em;
  color: hsl(229, 7%, 55%);
  font-family: "Raleway-700";
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 10rem;
  height: 4rem;
}
@media (min-width: 768px) {
  body main .container .details .popup {
    transform: translate(-55%, -70%);
  }
}
@media (min-width: 1280px) {
  body main .container .details .popup {
    display: none;
  }
}
body main .container .details .popup .storage-left {
  font-size: 2rem;
  color: hsl(229, 57%, 11%);
  margin: 0 0.25em;
}
body .footer {
  font-size: 0.6875rem;
  text-align: center;
  font-family: "Raleway-700";
  height: 1.5rem;
  color: #fff;
}
body .footer a {
  color: hsl(228, 55%, 81%);
  text-decoration: none;
}
body .footer a:hover {
  text-decoration: underline;
}