@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$font-kumbh-400: 400 "Kumbh Sans", sans-serif;
$font-kumbh-700: 700 "Kumbh Sans", sans-serif;

$body-text: 12px;
