@use "./color" as *;
@use "./typography" as *;
@use "./layout" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: calc(100vh - 1.5rem);
}

footer {
  height: 1.5rem;
  .attribution {
    text-align: center;
    font: 600 0.6875rem $font-poppins;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
