@use "./color" as *;
@use "./typography" as *;
@use "./layout" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  // min-height: calc(100vh - 1.5rem);
  min-height: 100vh;
  padding: 1.8rem;
  background: $Very-Light-Gray;

  #details {
    text-align: center;
    color: $Very-Dark-Blue;
    padding: 2rem 0;
    h1 {
      font: 200 1.55rem $font-poppins;
    }
    h2 {
      font: 600 1.55rem $font-poppins;
      padding-bottom: 1rem;
    }
    p {
      font: 400 $body-text $font-poppins;
      color: $Grayish-Blue;
      letter-spacing: 0.01rem;
    }
  }

  #features {
    .card {
      max-width: 23rem;
      height: 15rem;
      padding: 2rem 1.6rem;
      background: #fff;
      border-radius: 0.5rem;
      margin: 2rem auto;
      box-shadow: 0 1rem 1.5rem rgb(215, 215, 215);
      h2 {
        font: 600 1.4rem $font-poppins;
        color: $Very-Dark-Blue;
        padding-bottom: 0.5rem;
      }
      p {
        color: $Grayish-Blue;
        font: 400 0.87rem $font-poppins;
        line-height: 1.5rem;
      }
      img {
        width: 3.8rem;
        transform: translate(13rem, 1.5rem);
      }
    }
    #card1 {
      border-top: 0.25rem solid $Cyan;
    }
    #card2 {
      border-top: 0.25rem solid $Red;
    }
    #card3 {
      border-top: 0.25rem solid $Orange;
    }
    #card4 {
      border-top: 0.25rem solid $Blue;
    }
  }
}

footer {
  height: 1.5rem;
  .attribution {
    text-align: center;
    font: 600 0.6875rem $font-poppins;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

@media screen and (min-width: $tablet-view) {
  .container {
    padding: 8rem 1.8rem 0 1.8rem;
    #details {
      h1,
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.3rem;
        padding: 1rem 10rem;
      }
    }
    #features {
      display: grid;
      justify-items: center;
      align-self: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      max-width: 50rem;
      margin: 1rem auto;
      .card {
        padding: 2rem;
        height: 15.5rem;
        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        img {
          transform: translate(14.5rem, 1.5rem);
        }
      }
    }
  }
}

@media screen and (min-width: $laptop-view) {
  .container {
    padding: 0;
    #details {
      h1,
      h2 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.1rem;
        padding: 0.5rem 22rem;
      }
    }
    #features {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      max-width: 73rem;
      grid-auto-flow: column;
      margin: 0 auto;
      #card1,
      #card4 {
        grid-row: span 2;
        align-self: center;
        margin-top: -1rem;
      }
      #card3 {
        margin-top: -1rem;
      }
    }
  }
}
