@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-height: 100vh;
  background: hsl(210deg, 46%, 95%);
}

.container {
  min-height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card {
  width: 20rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
.container .card .article-image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.container .card .article-description {
  padding: 1.5rem 2rem;
  margin-top: 0.6rem;
}
.container .card .article-description h1 {
  font: 700 1rem "Manrope", sans-serif;
  line-height: 1.5rem;
  color: hsl(217deg, 19%, 35%);
}
.container .card .article-description p {
  font: 500 0.8125rem "Manrope", sans-serif;
  line-height: 1.3rem;
  color: hsl(214deg, 17%, 51%);
  padding: 1rem 0;
}
.container .card .article-description .profile {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.container .card .article-description .profile .profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.container .card .article-description .profile .profile-details {
  margin-left: -1.6rem;
  line-height: 1.5rem;
}
.container .card .article-description .profile .profile-details h2 {
  font: 700 0.9rem "Manrope", sans-serif;
  color: hsl(217deg, 19%, 35%);
}
.container .card .article-description .profile .profile-details small {
  font: 500 0.8125rem "Manrope", sans-serif;
  color: hsl(214deg, 17%, 51%);
}
.container .card .article-description .profile .share-button {
  margin-top: 0.2rem;
  width: 2.3rem;
  height: 2.3rem;
  border: 0;
  background: hsl(210deg, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
  color: transparent;
  z-index: 1000;
}
.container .card .article-description .profile .share-button svg {
  fill: hsl(214deg, 17%, 51%);
  scale: 1.1;
}
.container .card .article-description .profile .active {
  background: hsl(214deg, 17%, 51%);
  transition: all ease-in-out 0.4s;
}
.container .card .article-description .profile .active svg {
  fill: hsl(210deg, 46%, 95%);
}
.container .card .article-description .profile .share-components {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  background: hsl(217deg, 19%, 35%);
  margin: -1rem -2rem -1.5rem -2rem;
  border-radius: 0 0 1rem 1rem;
  list-style: none;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: hsl(212deg, 23%, 69%);
  gap: 1rem;
  padding-left: 1.8rem;
  transform: translateY(0);
  transition: transform ease-in-out 0.5s;
}
.container .card .article-description .profile .share-components span {
  font: 700 0.8125rem "Manrope", sans-serif;
  cursor: default;
  color: hsl(210deg, 46%, 95%);
}
.container .card .article-description .profile .share-components a img {
  cursor: pointer;
}
.container .card .article-description .profile .hidden {
  transform: translateY(5.5rem);
}

.attribution {
  height: 1rem;
  font: 500 0.6875rem "Manrope", sans-serif;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 1024px) {
  .container .card {
    flex-direction: row;
    width: 43rem;
    overflow: visible;
  }
  .container .card .article-image {
    height: 17rem;
    border-radius: 1rem 0 0 1rem;
  }
  .container .card .article-description {
    margin-top: 0;
  }
  .container .card .article-description h1 {
    font: 700 1.3rem "Manrope", sans-serif;
  }
  .container .card .article-description .profile {
    margin-top: 0;
  }
  .container .card .article-description .profile .profile-details {
    justify-content: space-between;
    margin-left: -8rem;
  }
  .container .card .article-description .profile .active {
    transition: all ease-in-out 0.2s;
  }
  .container .card .article-description .profile .share-components {
    width: 70%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 1.8rem 0;
    justify-content: center;
    inset: -3.7rem 16.05rem;
    letter-spacing: 0.2rem;
    scale: 1;
    transition: scale 0.4s;
  }
  .container .card .article-description .profile .share-components::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid hsl(217deg, 19%, 35%);
    inset: 3.4rem 6.8rem;
  }
  .container .card .article-description .profile .hidden {
    scale: 0;
    transform: translateY(0);
  }
}